* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

/* Header section */
.header-section {
  background-image: url(./images/top-banner.png);
  display: flex;
  background-repeat: no-repeat;
  margin-bottom: -30px;
}

h1 {
  font-size: 50px;
  margin-bottom: 40px;
}
h2 {
  font-size: 50px;
  margin-bottom: 50px;
}
h3 {
  margin-bottom: 50px;
}
.name-color {
  color: orange;
}

.name-container {
  width: 40%;
  margin-left: 70px;
  padding-top: 50px;
}
.name-container p {
  margin-bottom: 20px;
  text-align: justify;
  color: gray;
}
.name-container a {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: white;
  padding: 15px 40px;
  border-radius: 5px;
  font-weight: 900;
}

.img-noman1 {
  width: 55%;
  text-align: right;
  padding-right: 50px;
}
.img-noman1 img {
  width: 70%;
  text-align: right;
  padding-right: 50px;
}

/* Dream section */

.dream-section {
  display: flex;
  margin-top: 30px;
  background-image: url(./images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.img-noman2 {
  width: 55%;
}
.img-noman2 img {
  width: 80%;
  margin-left: 70px;
  margin-top: -40px;
}
.dream-container {
  width: 50%;
  padding-left: 50px;
  padding-top: 100px;
  margin-right: 100px;
}
.dream-container p {
  text-align: justify;
  margin-bottom: 20px;
  color: gray;
}
.dream-container a {
  text-decoration: none;
  background-image: linear-gradient(red, tomato);
  color: white;
  padding: 15px 40px;
  border-radius: 5px;
  font-weight: 900;
}

/* Experiance section */

.experiance-section {
  display: flex;
  background-image: url(./images/exp-bg.png);
  background-repeat: no-repeat;
}
.full-stack {
  width: 50%;
  margin-left: 70px;
  margin-right: 70px;
  padding: 10px 30px;
  border-left: 5px solid red;
  border-radius: 5px;
  box-shadow: 10px 10px 50px black;
}
.baby-web {
  width: 50%;
  margin-left: 70px;
  margin-right: 70px;
  padding: 10px 30px;
  border-left: 5px solid blue;
  border-radius: 5px;
  box-shadow: 10px 10px 50px black;
}
.experiance-section span {
  color: orange;
}

/* Footer Section */

.footer-section {
  text-align: center;
  margin-top: 120px;
  padding: 20px;
}
.footer-section h5 {
  font-size: 18px;
  font-weight: 900;
  color: gray;
}
